[defaults]
inventory = inventories
roles_path = roles
collections_path = collections
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
result_format = yaml
forks = 20
remote_tmp = /tmp/.ansible-${USER}/tmp

host_key_checking = True

[ssh_connection]
pipelining = True
timeout = 30
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -C
