# /etc/systemd/network/10-ltn0.network
# Managed by Ansible

[Match]
Name=ltn0

[Network]
# Sensor IPs: Traffic destined for the honeypots
Address={{ lantana_net.sensor_01_ipv4 }}
Address={{ lantana_net.sensor_01_ipv6 }}

# Collector Node IPs: Vector traffic to the Collector Node
Address={{ lantana_net.collector_ipv4 }}
Address={{ lantana_net.collector_ipv6 }}
