# /etc/systemd/network/10-ltn0.network
# Managed by Ansible

[Match]
Name=ltn0

[Network]
# Collector Node Addresses: Vector traffic to the Collector Node
Address={{ network.collector.ipv4 }}
Address={{ network.collector.ipv6 }}

# Sensor IP Addresses: Traffic destined for the honeypots
Address={{ network.sensors.sensor_01.ipv4 }}
Address={{ network.sensors.sensor_01.ipv6 }}
