# /etc/lantana/honeywall/network.conf
# Managed by Ansible

define WAN_IF = "{{ lantana_net.wan_if }}"
define LAN_IF = "{{ lantana_net.lan_if }}"

define SENSOR_IP4 = {{ lantana_net.sensor_ipv4.split('/')[0] }}
define COLLECTOR_IP4   = {{ lantana_net.collector_ipv4.split('/')[0] }}
define SENSOR_IP6 = {{ lantana_net.sensor_ipv6.split('/')[0] }}
define COLLECTOR_IP6   = {{ lantana_net.collector_ipv6.split('/')[0] }}

# --- FORWARD PLANE ---
table inet lantana-forward {
  chain forward {
    type filter hook forward priority 0;

    # Inline IDS
    ip protocol { tcp, udp } queue num 0 bypass
    ip6 nexthdr { tcp, udp } queue num 0 bypass

    ct state established,related accept

    # WAN → Sensor
    iif $WAN_IF oif $LAN_IF ip daddr $SENSOR_IP4 accept
    iif $WAN_IF oif $LAN_IF ip6 daddr $SENSOR_IP6 accept

    # Sensor → WAN
    iif $LAN_IF ip saddr $SENSOR_IP4 oif $WAN_IF accept
    iif $LAN_IF ip6 saddr $SENSOR_IP6 oif $WAN_IF accept

    # Collector → Sensor
    iif $LAN_IF ip saddr $COLLECTOR_IP4 ip daddr $SENSOR_IP4 accept
    iif $LAN_IF ip6 saddr $COLLECTOR_IP6 ip6 daddr $SENSOR_IP6 accept

    counter drop
  }
}
