# /etc/lantana/honeywall/nftables/network.nft
# Managed by Ansible

# --- INTERFACES ---
# The physical interface connected to the internet
define WAN_IF = "{{ network.honeywall.wan.interface }}"

# The virtual interface where sensors and collector services "live"
define SENSOR_IF = "ltn0"
define COLLECTOR_IF = "ltn0"

# --- IP ADDRESSES ---
# WAN IP (Management & Entry Point)
define WAN_IPV4 = {{ network.honeywall.wan.ipv4.split('/')[0] }}
define WAN_IPV6 = {{ network.honeywall.wan.ipv6.split('/')[0] }}

# Collector Node IPs (For Vector forwarding)
define COLLECTOR_IPV4 = {{ network.collector.ipv4.split('/')[0] }}
define COLLECTOR_IPV6 = {{ network.collector.ipv6.split('/')[0] }}
define COLLECTOR_PORT = {{ network.collector.port }}

# Sensor IPs (Traffic is DNAT'ed)
define SENSOR_IPV4 = {{ network.sensors.sensor_01.ipv4.split('/')[0] }}
define SENSOR_IPV6 = {{ network.sensors.sensor_01.ipv6.split('/')[0] }}

# --- SUBNETS ---
define SENSOR_NET_V4 = {{ network.sensors.sensor_01.ipv4 }}
define SENSOR_NET_V6 = {{ network.sensors.sensor_01.ipv6 }}

# --- PORTS ---
define SSH_ADMIN_PORT = {{ ansible_port }}
