# /etc/lantana/honeywall/nftables/network.nft
# Managed by Ansible

define WAN_IF = "{{ network.honeywall.wan.interface }}"
define LAN_IF = "{{ network.honeywall.lan.interface }}"

define SENSOR_IP4 = {{ network.sensors.sensor_01.ipv4.split('/')[0] }}
define COLLECTOR_IP4   = {{ network.collector.ipv4.split('/')[0] }}
define SENSOR_IP6 = {{ network.sensors.sensor_01.ipv6.split('/')[0] }}
define COLLECTOR_IP6   = {{ network.collector.ipv6.split('/')[0] }}

# --- FORWARD PLANE ---
table inet lantana-forward {
  chain forward {
    type filter hook forward priority 0;

    # Inline IDS
    ip protocol { tcp, udp } queue num 0 bypass
    ip6 nexthdr { tcp, udp } queue num 0 bypass

    ct state established,related accept

    # WAN → Sensor
    iif $WAN_IF oif $LAN_IF ip daddr $SENSOR_IP4 accept
    iif $WAN_IF oif $LAN_IF ip6 daddr $SENSOR_IP6 accept

    # Sensor → WAN
    iif $LAN_IF ip saddr $SENSOR_IP4 oif $WAN_IF accept
    iif $LAN_IF ip6 saddr $SENSOR_IP6 oif $WAN_IF accept

    # Collector → Sensor
    iif $LAN_IF ip saddr $COLLECTOR_IP4 ip daddr $SENSOR_IP4 accept
    iif $LAN_IF ip6 saddr $COLLECTOR_IP6 ip6 daddr $SENSOR_IP6 accept

    counter drop
  }
}
