# /etc/lantana/honeywall/nftables/network.nft
# Managed by Ansible

# --- INTERFACES ---
define WAN_IF = "{{ network.honeywall.wan.interface }}"
define SENSOR_IF = "{{ network.honeywall.lan.interface }}"

# --- HONEYWALL IPs ---
define WAN_IPV4 = "{{ network.honeywall.wan.ipv4.split('/')[0] }}"
define WAN_IPV6 = "{{ network.honeywall.wan.ipv6.split('/')[0] }}"

# --- DYNAMIC INVENTORY LISTS ---
define COLLECTOR_IPS_V4 = {
    {% for node in network.collectors.values() %}
    {{ node.ipv4.split('/')[0] }}{% if not loop.last %}, {% endif %}
    {% endfor %}
}

define COLLECTOR_IPS_V6 = {
    {% for node in network.collectors.values() %}
    {{ node.ipv6.split('/')[0] }}{% if not loop.last %}, {% endif %}
    {% endfor %}
}

define SENSOR_NETS_V4 = {
    {% for node in network.sensors.values() %}
    {{ node.ipv4.split('/')[0] }}{% if not loop.last %}, {% endif %}
    {% endfor %}
}

define SENSOR_NETS_V6 = {
    {% for node in network.sensors.values() %}
    {{ node.ipv6.split('/')[0] }}{% if not loop.last %}, {% endif %}
    {% endfor %}
}
