{
  "vault_apikey_virustotal": "{{ vault_apikey_virustotal | default('') }}",
  "vault_apikey_shodan": "{{ vault_apikey_shodan | default('') }}",
  "vault_apikey_abuseipdb": "{{ vault_apikey_abuseipdb | default('') }}",
  "vault_apikey_greynoise": {% if vault_apikey_greynoise is defined %}"{{ vault_apikey_greynoise }}"{% else %}null{% endif %},
  "vault_apikey_phishstats": {% if vault_apikey_phishstats is defined %}"{{ vault_apikey_phishstats }}"{% else %}null{% endif %},
  "vault_apikey_maxmind": {% if vault_apikey_maxmind is defined %}"{{ vault_apikey_maxmind }}"{% else %}null{% endif %},
  "vault_webhook_discord": "{{ vault_webhook_discord | default('') }}"
}
