{
  "virustotal": "{{ vault_apikey_virustotal }}",
  "shodan": "{{ vault_apikey_shodan }}",
  "abuseipdb": "{{ vault_apikey_abuseipdb }}",
  "greynoise": "{{ vault_apikey_greynoise }}",
  "phishstats": "{{ vault_apikey_phishstats }}",
  "discord_webhook": "{{ vault_webhook_discord | default('') }}"
}
