# /etc/vector/conf.d/cowrie.yaml
# Managed by Ansible

sources:
  in_cowrie:
    type: file
    include:
      - /var/log/lantana/sensor/cowrie/cowrie.json
    read_from: end

transforms:
  tag_cowrie:
    type: remap
    inputs:
      - in_cowrie
    source: |-
      parsed, err = parse_json(.message)
      if err == null {
          . = parsed
      }
      .dataset = "cowrie"
      .server = "{{ inventory_hostname }}"
      .operation = "{{ narrative.operation_name }}"

  filter_cowrie:
    type: filter
    inputs:
      - tag_cowrie
    condition:
      type: vrl
      source: |-
        src = to_string(.src_ip) ?? ""
        !starts_with(src, "127.") && src != "::1" && !ip_cidr_contains!("{{ network.prefixes.ipv4 }}", src) && !ip_cidr_contains!("{{ network.prefixes.ipv6 }}", src)
