# /etc/vector/conf.d/forward.yaml
# Managed by Ansible

sinks:
  collector:
    type: vector
    inputs:
      - "tag_*"
    address: "{{ network.collectors.collector_01.ipv4.split('/')[0] }}:{{ network.collectors.collector_01.port }}"
    version: "2"
